$colorWhite: #FFFFFF;
$colorBlack: #000000;
//buttons
$buttonColor: #009EE2;
$buttonBorderRadius: 4px;

//input
$inputBorderColor: #CDCDCD;
$inputBorderRadius: 4px;
$inputPlaceholderColor: #959595;
$inputTextColor: #404040;

//modal
$modalBg: rgba(0, 0, 0, 0.6);
$modalBorderRadius: 16px;

//link
$linkColor: #6B9AC6;
$linkColorBlue: #009EE2;
